<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
  <link rel="stylesheet" href="/public/stylesheets/style.css">
      <form class="form" action="/mensagem" method="post">
        <input type="text">
        <button  type="submit">Enviar</button>
      </form>
</body>
</html>